.navbar-nav .nav-item {
  position: relative;
  margin: 0 0.5rem;
}

.nav-link {
  padding: 10px 0;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  position: relative;
  background-color: transparent !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary-green);
  transition: width 0.3s ease;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover,
.nav-link.active {
  color: var(--primary-green) !important;
  transform: scale(1.05);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
