<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #f0fff0;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">EasyInvesting</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/hello" routerLinkActive="active">Hello</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/helloauth" routerLinkActive="active">HelloAuth</a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
